@import 'config';

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-Rubik !important;
}

/* Hero Section */
.bg-img-hero {
    position: relative;
    background: url("../img/hero-img.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
    z-index: 1;
}

.bg-img-hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: -1;
}


.hero-section-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
}

.hero-header {
    font-size: 5rem;
}

.hero-paragraph {
    font-size: 1.5rem;
}

/* About Section */
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .about-header {
        font-weight: 600;
        font-size: 2.1rem;
    }

    .about-under-header {
        font-weight: 400;
        font-size: 1.9rem;
    }

    .about-paragraph {
        font-size: 1rem;
    }

    .about-image img {
        max-width: 100%
    }
}

/* Overview Section */
.overview-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .overview-header {
        font-weight: 600;
        font-size: 2.2rem;
    }

    .overview-under-header {
        font-weight: 400;
        font-size: 1.2rem;
    }

    .overview-paragraph {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .overview-image img {
        transform: scaleX(-1);
        max-width: 100%;
    }
}

/* Gallery Section */
.gallery-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    .gallery-header{
        font-size: 2.5rem;
        font-style: italic;
        font-weight: bold;
        padding-bottom: 30px;
    }
    .gallery-paragraph{
        font-style: italic;
    }
}


@import 'mobile';